$bg-color: #A0C4E2;
$screen-color: #D2E4E2;
$calculator-color: #4D4D4D;
$clear-btn-color: #AD6074;
$op-btn-color: #484848;
$num-btn-color: #898989;
$btn-text: #FFF;
$btn-hover-outline-color: #0892D0;
$btn-width: 50px;
$btn-height: 40px;